.MenuHeader{
    padding-top: 46px;
    &_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_above{
            color: black;
            & img{
                width: 82px;
                scale: 1.5;
            }
        }
        &_bellow {
            &_list {
              margin: 20px auto 0;
              justify-content: center;
              list-style: none;   
              display: flex;
              gap: 20px;
              &_item{
                color: whitesmoke;
                font-size: 18px;
                width: 108px;
                height: 35px;
                display: flex;
                justify-content: center;
                border-bottom: 2px solid #D2D2C6;
                border-radius: 4px;
                cursor: pointer;
                &:hover{ 
                    border-bottom: 2px solid #13b62f;
                    transition: 1s;
                }
             }
            }
        }
        .cart-button{
            background: transparent;
            border: none;
            position: relative;
            cursor: pointer;
            .cart-items-count{
                border-radius: 50%;
                background-color: red;
                color: white;
                width: 15px;
                height: 16px;
                font-size: 11px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 50%;
                top: -6px;
                transform: translateX(-50%);
            }
        }
    }
}