.Menu {
    background: url("../../assets//images/MenuPagebackground.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh auto;
    &_inner {
      &_row {
        ul {
          margin-top: 60px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
      .card-image {
        width: 285px;
        height: 372px;
        gap: 0px;
        cursor: pointer;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
        object-fit: contain;
      }
    }
  }
  