@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main-page {
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  @media (max-width: 700px) {
    height: 1200px;
  }
  .main-logo-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-logo {
    width: 100px;
    height: 100px;
  }

  .main-text > h1 {
    font-family: "Lobster", cursive;
    color: white;
    width: 497px;
    height: 101px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-address {
    margin-top: 50px;
    width: 400px;
    h3 {
      color: rgb(156, 149, 254);
      font-family: "Lobster", cursive;
      font-size: 18px;
      font-weight: 400;
      line-height: 33.6px;
      letter-spacing: 0.02em;
      text-align: center;
    }
  }

  .main-button {
    & > a > button {
      margin-top: 80px;
      width: 200px;
      height: 60px;
      gap: 8px;
      border-radius: 10px;
      font-family: Lobster;
      font-size: 33px;
      border: none;
    }
    a {
      color: #000;
      text-decoration-line: none;
    }
    & > a:hover {
      button {
        cursor: pointer;
        background-color: rgb(167, 167, 167);
      }
    }
  }
}
