.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  &__inner {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    .header-img > img {
      width: 82px;
      height: 60px;
    }
    .socal-media {
        
    }
  }
}
