.header {
  padding-top: 46px;
  display: flex;
  justify-content: center;
  width: 100%;
  &__inner {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    .header-img {
      img {
        width: 82px;
        height: 60px;
      }
    }
    .socal-media {
      width: 152px;
      display: flex;
      justify-content: space-between;
    }
  }
}
